NEXT_PUBLIC_APP_NAME=Conviction Markets
NEXT_PUBLIC_APP_URL=http://localhost:3001
CORE_API_URL=http://localhost:3000
FARCASTER_ACCOUNT_ASSOCIATION_JSON=
FARCASTER_HOSTED_MANIFEST_ID=
FARCASTER_MINIAPP_NOINDEX=true
